.dot {
    height: 30px;
    width: 30px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    margin-right: 20px;
  }

.dropdown-toggle::after {
    display:none;
    border : none !important;
    border-color: #dc3545;
  }
  .navbar {
    position: fixed;
    top: 0;
    width: 100%;
  }
