<div class="container">
<h6>Employee Table</h6>
<table class="table">
    <thead>
      <tr>
        <th scope="col">Sl No.</th>
        <th scope="col">Name</th>
        <th scope="col">Email</th>
        <th scope="col">department</th>
        <th scope="col">Name</th>
        <th scope="col">Email</th>
        <th scope="col">department</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let emp of employeeData">
        <td></td>
        <td>{{emp?.firstName}} {{emp?.lastName}}</td>
        <td>{{emp?.email}}</td>
        <td>{{emp?.department}}</td>
      </tr>
    </tbody>
  </table>
</div>