<div class="sidebarMenu" [ngClass]="'genisSideBar'" style="float: left;">
    <!-- <ul> -->
        <li routerLink="/dashboard">
            <img src="../../../assets/images/dashboard.png">
            <span>Dashboard</span>
        </li>
        <li routerLink="/dashboard/employees">
            <img src="../../../assets/images/new.png">
            <span>Total Employees</span>
        </li>
        <li routerLink="/dashboard/ex-employees">
            <img src="../../../assets/images/ex.png">
            <span>Ex Employees</span>
        </li>
        <li>
            <img src="../../../assets/images/new.png">
            <span>New Employees</span>
        </li>
        <li>
            <img src="../../../assets/images/dept.png">
            <span>Department</span>
        </li>
    <!-- </ul> -->
</div>
<!-- <div class="sidebarMenu" [ngClass]="status ? 'genisSideBar' : 'darSideBar'"
style="float: left;">
</div>

<div class="genisSideBarAlt d-flex justify-content-center">
    <button class="btn1" (click)="open()" *ngIf="arrow">
        <i  class="fa-solid fa-arrow-left"></i>
    </button>
    <button class="btn1" (click)="close()" *ngIf="!arrow">
        <i  class="fa-solid fa-arrow-right"></i>
    </button>
</div> -->

