.sidebarMenu{
    background-color: #3e3b3b;
    color: #fff;
    width: auto;
    height: 80.5vh;
  }
  .genisSideBar{
    width: 160px;
    transition: .40s;
  }
  .darSideBar{
    width: 60px;
    transition: .40s;
  }
  
    
  .genisSideBarAlt{
    float: left;
    width: 25px;
    margin-top: 10px;
  }
  .btn1{
    background-color: rgb(237, 67, 67) !important;
    border-radius: 5px !important;
    border-color: rgb(237, 67, 67) ;
    color: #fff;
    width: 25px;
  }
  .darSideBarAlt{
    width: 60px;
  }

  li {
    font-size: 12px;
    padding: 10px 5px 10px 15px;
    list-style-type: none;
    cursor: pointer;
  }
  ul {
    list-style-type: none;
  }
  li:hover {
   background-color: rgb(86, 88, 87);
  }
  img {
    height: 15px;
    width: 15px;
  }
  li span {
    padding-left: 10px;
  }